<!DOCTYPE html>
<html lang="en">
<head>
  <title>Autocomplete Search</title>
  <link rel="stylesheet" href="style.css">
</head>

<body style="background: linear-gradient(90deg, #e3ffe7 30%, #d9e7ff 50%);">
<h1>
  Autocomplete Search Engine
</h1>

<form action="" autocomplete="off">
  <div class="autocomplete-wrapper" id="autocomplete-wrapper">
    <input id="search-input" type="text" placeholder="Description">
  </div>
  <button type="submit" class="btn-submit">Submit</button>
</form>
<script src="./search.js"></script>
</body>
</html>